body, html {
    width: 100%;
}

#content {
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;
}

.pt20 {
    padding-top: 20px;
}

.hide {
    display: none;
}

#wo-breadcrumbs .separator {
    display: inline-block;
    margin: 0 10px;
}

.list-remove-btn {
    float: left;
    padding-right: 5px;
}

ul li {
    list-style:none;
}