* {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

#content {
    padding-bottom: 90px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

body, html {
    width: 100%;
}

.clear {
    clear: both;
}

#content {
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;
}

.pt20 {
    padding-top: 20px;
}

.hide {
    display: none;
}

#wo-breadcrumbs .separator {
    display: inline-block;
    margin: 0 10px;
}

.list-remove-btn {
    float: left;
    padding-right: 5px;
}

ul li {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.quantity-wrap{
    background: black;
    border-radius: 10px;
    position: relative;
    left:20px;
    top:4px;
    padding:2px 5px;
}
.quantity{
    top:-1px;
    color:white;
    position: relative;
    font-size: 12px;
    font-weight: bold;
}
.cart{
    width:50px;
    height:50px;
    background: url("../images/shopping-cart.png") 0 10px no-repeat transparent;
}

.product-images-list li {
    float: left;
    width: 25%;
    height: 300px;
    padding: 5%;
    border: 1px solid gray;
}

.product-images-list li img {
    max-width: 100%;
}

.products-list li img {
    max-width: 150px;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
