{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Admin</h1>
    <a href="{{ path('backend_event_index') }}" class="btn btn-primary">Events</a>
{% endblock %}
