{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Admin</h1>
    <div class="pt20">
        <a href="{{ path('backend_event_index') }}" class="btn btn-primary">Events</a>
    </div>
    <div class="pt20">
        <a href="{{ path('backend_file_index') }}" class="btn btn-primary">Media</a>
    </div>
{% endblock %}
