{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('backend/event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backend_event_index') }}" class="btn btn-primary">back to list</a>

    <div class="pt20">
        {{ include('backend/event/_delete_form.html.twig') }}
    </div>

{% endblock %}