{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    {{ include('backend/event/_form.html.twig') }}

    <a href="{{ path('backend_event_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datepicker/jquery.datetimepicker.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#event_eventDate').datetimepicker();
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('js/datepicker/jquery.datetimepicker.css') }}">
{% endblock %}