{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('backend/product/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('backend_product_index') }}">back to list</a>

    <div class="pt20">
        {{ include('backend/product/_delete_form.html.twig') }}
    </div>
{% endblock %}
