{% extends 'frontend.html.twig' %}

{% block title %}Audio{% endblock %}

{% block body %}
    <ul>
        {% for file in files %}
            <li>
                <hr>
                <div>
                    {{ file.description }}
                    <br>
                    <br>
                </div>
                <div>
                    <audio controls>
                        <source src="/media/{{ file.file }}" type="audio/{{ file.ext }}">
                    </audio>
                </div>
                <hr>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

