{% extends 'base.html.twig' %}

{% block title %}Audio{% endblock %}

{% block body %}
    {% include 'frontend/header_nav.html.twig' %}
    <ul>
        {% for file in files %}
            <li>
                <audio controls>
                    <source src="/media/{{ file.file }}" type="audio/{{ file.ext }}">
                </audio>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

