<ul>
    {% for file in files %}
        <li>
            <audio controls>
                <source src="/media/{{ file.file }}" type="audio/{{ file.ext }}">
            </audio>
        </li>
    {% endfor %}
</ul>