<ul>
    <li>
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('video') }}">Video</a>
        <a href="{{ path('audio') }}">Audio</a>
        <a href="{{ path('photo') }}">Photo</a>
    </li>
</ul>