{% extends 'base.html.twig' %}

{% block title %}GURGABS{% endblock %}

{% block body %}
    {% include 'frontend/header_nav.html.twig' %}
    <h1>GURGABS</h1>
    {% for event in events %}
        <hr>
        <div>{{ event.eventDate }}</div>
        <div>{{ event.title }}</div>
        <div>{{ event.content }}</div>
        <hr>
    {% endfor %}
{% endblock %}
