{% extends 'frontend.html.twig' %}

{% block title %}Photo{% endblock %}

{% block javascripts %}
    <script src="/js/gallery.js"></script>
{% endblock %}

{% block body %}
    <div id="lightgallery">
        {% for file in files %}
            <a class="gallery-image" href="#">
                <span>{{ file.description }}</span>
                <img data-id="{{ file.id }}" src="/media/{{ file.file }}" alt="">
            </a>
        {% endfor %}
    </div>
{% endblock %}


