{% extends 'frontend.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}
    {% include 'frontend/header_nav.html.twig' %}
    <ul>
        {% for file in files %}
            <li>
                <img src="/media/{{ file.file }}" alt="">
            </li>
        {% endfor %}
    </ul>
{% endblock %}


