{% extends 'frontend.html.twig' %}

{% block title %}Success page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/shake.css">
{% endblock %}

{% block body %}
    <div class="order-success shake-opacity">
        <h1>Thank you! Your order was created!</h1>
    </div>
    <audio autoplay>
        <source src="/music/gurgabs_stripped.mp3" type="audio/mpeg">
        Audio is not supperted. <a href="/music/gurgabs_stripped.mp3" download>Download</a>.
    </audio>
{% endblock %}


