{% extends 'base.html.twig' %}

{% block title %}Success page{% endblock %}

{% block body %}
    {% include 'frontend/header_nav.html.twig' %}
    <h1>Thank you! Your order was created!</h1>
{% endblock %}


