{% extends 'frontend.html.twig' %}

{% block title %}Success page{% endblock %}

{% block body %}
    <div class="order-success shake-opacity">
        <h1>Thank you! Your order was created!</h1>
    </div>
{% endblock %}


