{% extends 'frontend.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    <ul>
        {% for file in files %}
            <li>
                <hr>
                <div>
                    {{ file.description }}
                    <br>
                </div>
                <div>
                    <video width="320" height="240" controls>
                        <source src="/media/{{ file.file }}" type="video/{{ file.ext }}">
                    </video>
                </div>
                <hr>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
